/*폰트*/
@import url(./font.css);

/* 공통 */
.onboding_wrap{font-family:'Pretendard', sans-serif;}
.onboding_wrap ul,.onboding_wrap ol,.onboding_wrap li{list-style:none; padding:0; color: inherit;}
.onboding_wrap a{vertical-align:top; text-decoration: none; color: inherit;}
.onboding_wrap h1,.onboding_wrap h2,.onboding_wrap h3,.onboding_wrap h4,.onboding_wrap h5,.onboding_wrap p{
    margin: 0;
}

.onboding_wrap .pc{
display: block;
}
.onboding_wrap .mo{
    display: none;
}

/* 헤더 관련 */
.onboding_wrap #header{
    height: 60px;
    line-height: 60px;
}
.onboding_wrap #header .logo {
    display: inline-block;
    width: 40PX;
    height: 40px;
    background-image: url(../images/logo.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 19.2%;
}

/* 배너관련 */
.onboding_wrap .banner_wrap{
    padding-top: 31.25%;
    background-image: url(../images/banner_bg_pc.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.onboding_wrap .banner_wrap::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 0;
}
.onboding_wrap .banner_wrap .banner_content{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    left: 0;
    right: 0;
    margin:0 auto;
    z-index: 10;
    text-align: center;
}
.onboding_wrap .banner_wrap .banner_content h1{
    font-size: 50px;
    color: #fff;
    line-height: 75px;
}
.onboding_wrap .banner_wrap .banner_content p{
    font-size: 22px;
    color: #fff;
    margin-top: 24px;
}
.onboding_wrap .banner_wrap .btn_area{
    margin-top: 32px;
}
.onboding_wrap .banner_wrap .btn_area a{
   margin-left: 16px; 
}
.onboding_wrap .banner_wrap .btn_area a:first-child{
    margin-left: 0;
}
.onboding_wrap .doownloadInfoBox{
    position: relative;
    margin-left: 16px;
}
.onboding_wrap .doownloadInfoBox .img_wrap{
    display: none;
    width: 800px;
    position: absolute;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
}
.onboding_wrap .doownloadInfoBox .img_wrap.on{
    display: inline-block;
}
.onboding_wrap .doownloadInfoBox .img_box{
    display: inline-block;
    position: relative;
}
.onboding_wrap .doownloadInfoBox .close_btn{
    position: absolute;
    top: 48px;
    right: 48px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

/* 슬라이드 관련 */
.onboding_wrap .slide_wrap h2{
    font-size:50px;
    padding:120px 0;
    text-align: center;
}
.onboding_wrap .slide_wrap h2 span{
    color: #0086ff;
}
.onboding_wrap .slide_wrap .img_box img{
    max-width: 100%;
}
.mainSlide .swiper-button-prev{
    width: 64px;
    height: 64px;
    background-image: url(../images/slide_prev_img.png);
    background-position: center;
    background-repeat: no-repeat;
    left: 5%;
}
.onboding_wrap .mainSlide .swiper-button-next{
    width: 64px;
    height: 64px;
    background-image: url(../images/slide_next_img.png);
    background-position: center;
    background-repeat: no-repeat;
    right: 5%;
}
.onboding_wrap .mainSlide .swiper-button-prev:after{
    display: none;
}

.onboding_wrap .mainSlide .swiper-button-next:after{
    display: none;
}

/* 기능관련 */
.onboding_wrap .mt4{margin-top:4px;}
.onboding_wrap .skill_wrap{
 padding-top: 150px;
 padding:150px 19.2% 200px;
}
.onboding_wrap .skill_wrap .grid_box{
    display: grid;
}
.onboding_wrap .skill_wrap .blue_txt{
    font-size: 22px;
    color: #0086ff;
}
.onboding_wrap .skill_wrap .grid_box.title{
    grid-template-columns: 290px auto;
}
.onboding_wrap .skill_wrap .grid_box h3{
    font-size: 40px;
    color: #363A3D;
}
.onboding_wrap .skill_wrap .title p{
    font-size: 28px;
    color: #363a3d;
    margin-left: 110px;
    margin-top: 3px;
}
.onboding_wrap .skill_wrap ul.grid_box{
    grid-template-columns:1fr 1fr;
}
.onboding_wrap .skill_wrap ul{
    margin-top: 60px;
}
.onboding_wrap .skill_wrap ul li{
    padding:64px 0 85px;
}
.onboding_wrap .skill_wrap ul .img_box{
    display: inline-block;
}
.onboding_wrap .skill_wrap ul h3{
    margin-top: 32px;
}
.onboding_wrap .skill_wrap ul span{
    display: inline-block;
    margin-top: 18px;
}

/* 하단베너 관련 */
.onboding_wrap .bottom_banner_wrap{
    padding-top: 24.64%;
    background-image: url(../images/bottom_banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.onboding_wrap .bottom_banner_wrap:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0086FF;
    opacity: 0.6;
    z-index: 0; 
}
.onboding_wrap .bottom_banner_content{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    left: 0;
    right: 0;
    margin:0 auto;
    z-index: 10;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height:75px;
}
.onboding_wrap .bottom_banner_content .displayfluid{
    display: inline;
}
.onboding_wrap .bottom_banner_content span{
    position: relative;
}
.onboding_wrap .bottom_banner_content span:after{
    content:"";
    display: inline-block;
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFCE00;
    opacity: 0.4;
}

/* 푸터관련 */
.onboding_wrap .footer_Wrap{
    padding:40px 16.7% 80px;
}
.onboding_wrap .footer_menu{
    font-size: 0;
}
.onboding_wrap .footer_menu li{
    display: inline-block;
    font-size: 16px;
    color: #363A3D;
    padding:0 20px;
    position: relative;
}
.onboding_wrap .footer_menu li:first-child{
    padding-left: 0;
}
.onboding_wrap .footer_menu li::after{
    content: "";
    width: 1px;
    height: 10px;
    background-color: #363A3D;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;
}
.onboding_wrap .footer_menu li:first-child::after{
    display: none;
}
.onboding_wrap .footer_content{
    margin-top: 40px;
}
.onboding_wrap .footer_content .company{
    padding-left: 200px;
    background-image: url(../images/footer_logo_img.png);
    background-repeat: no-repeat;
    background-position:0 0;
}
.onboding_wrap .footer_content .company h4{
    font-weight: 400;
    font-size: 18px;
}
.onboding_wrap .footer_content .company a{
    font-size: 36px;
    font-weight: 700;
    color: #363A3D;
    margin-top: 10px;
}
.onboding_wrap .footer_content .company p{
    font-size: 13px;
    color: #363A3D;
    margin-top: 10px;
}

/* 미디어쿼리 */
/* 1450px */
@media screen and (max-width:1460px) {
    /* 슬라이드 관련 */
    .onboding_wrap .slide_wrap h2{
        font-size: 40px;
        padding: 100px 0;
    }
    .onboding_wrap .bottom_banner_content{
        font-size: 40px;
    }
}
/* 1250px */
@media screen and (max-width:1250px) {
    /* 배너관련 */
    .onboding_wrap .banner_wrap .banner_content h1{
        font-size: 35px;
        line-height: 55px;
    }

    /* 슬라이드 관련 */
    .onboding_wrap .slide_wrap h2{
        font-size: 35px;
        padding: 80px 0;
    }
    
    /* 기능 관련*/
    .onboding_wrap .skill_wrap{
        padding-top: 75px;
        padding-bottom: 100px;
    }
    .onboding_wrap .skill_wrap ul{
        margin-top: 30px;
    }
    .onboding_wrap .skill_wrap .grid_box h3{
        font-size: 30px;
    }
    .onboding_wrap .skill_wrap ul li{
        padding:45px 0 60px;
    }
    .onboding_wrap .skill_wrap ul .img_box{
        width: 90px;
    }
    /* 하단베너 관련 */
    .onboding_wrap .bottom_banner_content{
        font-size: 35px;
        line-height: 55px;
    }
    .onboding_wrap .skill_wrap .title p{
       font-size: 24px;
       margin-left: 40px;
    }
}
/* 1050 px*/
@media screen and (max-width:1050px) {
    .onboding_wrap .banner_wrap .banner_content h1{
        font-size: 28px;
        line-height: 46px;
    }

    /* 슬라이드 관련 */
    .onboding_wrap .slide_wrap h2{
        font-size: 28px;
        padding: 60px 0;
    }

    /* 하단베너 관련 */
    .onboding_wrap .bottom_banner_content{
        font-size: 28px;
        line-height: 46px;
    }
    .onboding_wrap .skill_wrap .title p{
        margin-left: 20px;
     }
}

/* 780px 테블릿 */
@media screen and (max-width:780px) {
    /*공통*/
    .onboding_wrap .pc{display: none;}
    .onboding_wrap .mo{display: block;}

    /* 헤더 관련 */
    .onboding_wrap #header{
        padding:24px 0;
        border-bottom: 1px solid #F2F3F4;
        background-color: rgba(0,0,0,0.6);
    }
    .onboding_wrap #header .logo{
        margin-left: 32px;
    }
    /* 배너관련 */
    .onboding_wrap .banner_wrap{
        padding-top: 88.3%;
        background-image: url(../images/banner_bg_mo.png);
    }
    .onboding_wrap .banner_wrap .banner_content h1{
        font-size: 52px;
        line-height: 78px;
    }
    .onboding_wrap .banner_wrap .banner_content p{
        font-size: 30px;
        margin-top: 72px;
    }
    .onboding_wrap .banner_wrap .btn_area{
        margin-top: 60px;
    }
    .onboding_wrap .banner_wrap .btn_area a{
        margin-left: 32px;
    }
    /* 슬라이드 관련 */
    .onboding_wrap .slide_wrap h2{
        font-size: 28px;
        padding:110px 0;
        font-size: 34px;
        color: #363A3D;
        font-weight: 400;
    }
    .onboding_wrap .slide_wrap h2 span{
        font-weight: 700;
    }
    .onboding_wrap .slide_con{
        background-color: #E3F0FC;
        padding-top: 75%;
    }
    .onboding_wrap .slide_con .slide_box{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding:0 9%;
    }
    .onboding_wrap .slide_con .img_box{
        display: inline-block;
        margin-top: 80px;
        
    }
    
    .onboding_wrap .slide_con .blue_txt{
        display: inline-block;
        font-size: 30px;
        padding-top: 80px;
        color: #0086FF;
    }
    .onboding_wrap .slide_con h3{
        font-size: 52px;
        color: #363A3D;
        line-height: 78px;
        padding-top: 8px;
    }
    .onboding_wrap .slide_con p{
        font-size: 30px;
        line-height: 45px;
        color: #363A3D;
        margin-top: 4px;
    }
    .onboding_wrap .mainSlide .swiper-button-prev{
        width: 48px;
        height: 48px;
        background-size: 18px auto;
        left: 14px;
    }
    .onboding_wrap .mainSlide .swiper-button-next{
        width: 48px;
        height: 48px;
        background-size: 18px auto;
        right: 14px;
    }

    /* 기능 관련 */
    .onboding_wrap .skill_wrap{
        text-align: center;
        padding:160px 0;
    }
    .onboding_wrap .skill_wrap .img_box{
        padding-top: 64px;
    }
    .onboding_wrap .skill_wrap .img_box:first-child{
        padding-top: 0;
    }
    /* 하단베너 관련 */
    .onboding_wrap .bottom_banner_wrap{
        padding-top: 75%;
        background-image: url(../images/bottom_banner_bg_mo.png);
    }
    .onboding_wrap .bottom_banner_content{
        font-size: 48px;
        line-height: 72px;
    }
    .onboding_wrap .bottom_banner_content .displayfluid{
        display: block;
    }
    .onboding_wrap .footer_Wrap{
        padding: 64px 32px 128px;
    }
    .onboding_wrap .footer_content .company{
        padding-left: 0;
        padding-bottom: 144px;
        background-position: 0 100%;
    }
}

/* 480px 모바일 */
@media screen and (max-width:480px) {
     /* 헤더 관련 */
     .onboding_wrap #header{
        padding:12px 0;
        line-height: 24px;
        height: auto;
    }
    .onboding_wrap #header .logo{
        width: 24px;
        height: 24px;
        margin-left: 16px;
        background-size: cover;
    }
    /* 배너관련 */
    .onboding_wrap .banner_wrap .banner_content h1{
        font-size: 26px;
        line-height: 39px;
    }
    .onboding_wrap .banner_wrap .banner_content p{
        font-size: 15px;
        margin-top: 36px;
    }
    .onboding_wrap .banner_wrap .btn_area{
        margin-top: 30px;
    }
    .onboding_wrap .banner_wrap .btn_area a{
        margin-left: 16px;
    }
    /* 슬라이드 관련 */
    .onboding_wrap .slide_wrap h2{
        font-size: 14px;
        padding: 55px 0;
        font-size: 17px;
    }
    .onboding_wrap .slide_con .img_box{
        width: 80px;
        margin-top: 40px;
        
    }
    .onboding_wrap .slide_con .img_box img{
        max-width: 100%;
    }
    .onboding_wrap .slide_con .blue_txt{
        font-size: 15px;
        padding-top: 40px;
    }
    .onboding_wrap .slide_con h3{
        font-size: 26px;
        line-height: 39px;
        padding-top: 4px;
    }
    .onboding_wrap .slide_con p{
        font-size: 15px;
        line-height: 22.5px;
        margin-top: 2px;
    }
    .onboding_wrap .mainSlide .swiper-button-prev{
        width: 24px;
        height: 24px;
        background-size: 9px auto;
        left: 7px;
    }
    .onboding_wrap .mainSlide .swiper-button-next{
        width: 24px;
        height: 24px;
        background-size: 9px auto;
        right: 7px;
    }

    /* 기능 관련 */
    .onboding_wrap .skill_wrap{
        padding:80px 0;
    }
    .onboding_wrap .skill_wrap .img_box{
        padding-top: 32px;
    }

    /* 하단베너 관련 */
    .onboding_wrap .bottom_banner_content{
        font-size: 24px;
        line-height: 36px;
    }
    .onboding_wrap .bottom_banner_content span:after{
        height: 12px;
    }
    /* 푸터 관련 */
    .onboding_wrap .footer_Wrap{
        padding: 32px 16px 64px;
    }
    .onboding_wrap .footer_menu li{
        font-size: 11px;
    }
    .onboding_wrap .footer_menu li::after{
        height: 6px;
    }
    .onboding_wrap .footer_content{
        margin-top: 32px;
    }
    .onboding_wrap .footer_content .company{
        padding-bottom: 72px;
        background-size: auto 48px;
    }
    .onboding_wrap .footer_content .company h4{
        font-size: 11px;
    }
    .onboding_wrap .footer_content .company a{
        font-size: 24px;
        line-height: 36px;
        margin-top: 10px;
    }
    .onboding_wrap .footer_content .company p{
        font-size: 11px;
        line-height: 16.5px;
        
    }
}
